extends ./layout.pug

block contenido
	div(class='container')
		h2 Lista de estudiantes
		br
		div(class='row')
			div(class='col-sm-12')
				table(class='table table-hover table-striped table-bordered table-condensed table-responsive' style='width: 100%')
					thead(class='thead-light')
						tr
							th Codigo
							th Nombre
							th Apellidos
							th Fecha de nacimiento
							th Foto										
					tbody
						for estudiante in estudiantes
							tr
								td= estudiante.codigo
								td= estudiante.nombre
								td= estudiante.apellidos 
								td= estudiante.fecha_nacimiento
								td
									img(class='imagenEstudiante' src=estudiante.foto)
