extends ./layout.pug

block contenido
	div(class='container' data-spy="scroll")
		ul(class="nav nav-tabs justify-content-center")
			li(class="nav-item")
				a(class="nav-link" href="/") Inicio
		br
		h3 Personero(a)
		if nom_sede == "CASCAJAL"
			if conRepresentante == 1
				div(class="row")
					for personero in personeros
						div(class="tarjeton")
							div(class="votarPersonero")
								form(action="/representante" method="POST")
									input(type="submit" value=personero.est_num_tarjeton name="personero" class="btnVotarPersonero")
							div(class="card" style="width: 12rem;")
								img(class="card-img-top imagenCard" src="static/imagenes/candidatos/personero/"+personero.est_foto alt="Foto personero")
								div(class="card-body")
									h5(class="card-title")= personero.est_primer_nombre + " " + personero.est_segundo_nombre + " " + personero.est_primer_apellido + " " + personero.est_segundo_apellido
									p(class="card-text")= personero.est_grado + " " + personero.est_grupo

					div(class="tarjeton")
						div(class="votarPersonero")
							form(action="/representante" method="POST")
								input(type="submit" value="0" name="personero"  class="btnVotarPersonero")
						div(class="card" style="width: 12rem;")
							img(class="card-img-top imagenCard" src="static/imagenes/candidatos/voto blanco.jpg" alt="Card image cap")
							div(class="card-body")
								h5(class="card-title") VOTO EN BLANCO
								p(p class="card-text") Vota por mí
			else
				div(class="row")
					for personero in personeros
						div(class="tarjeton")
							div(class="votarPersonero")
								form(action="/finalProcesoVotacion" method="POST")
									input(type="submit" value=personero.est_num_tarjeton name="personero" class="btnVotarPersonero")
							div(class="card" style="width: 12rem;")
								img(class="card-img-top imagenCard" src="static/imagenes/candidatos/personero/"+personero.est_foto alt="Foto personero")
								div(class="card-body")
									h5(class="card-title")= personero.est_primer_nombre + " " + personero.est_segundo_nombre + " " + personero.est_primer_apellido + " " + personero.est_segundo_apellido
									p(class="card-text")= personero.est_grado + " " + personero.est_grupo

					div(class="tarjeton")
						div(class="votarPersonero")
							form(action="/finalProcesoVotacion" method="POST")
								input(type="submit" value="0" name="personero"  class="btnVotarPersonero")
						div(class="card" style="width: 12rem;")
							img(class="card-img-top imagenCard" src="static/imagenes/candidatos/voto blanco.jpg" alt="Card image cap")
							div(class="card-body")
								h5(class="card-title") VOTO EN BLANCO
								p(p class="card-text") Vota por mí	
		else
			div(class="row")
				for personero in personeros
					div(class="tarjeton")
						div(class="votarPersonero")
							form(action="/finalProcesoVotacion" method="POST")
								input(type="submit" value=personero.est_num_tarjeton name="personero" class="btnVotarPersonero")
						div(class="card" style="width: 12rem;")
							img(class="card-img-top imagenCard" src="static/imagenes/candidatos/personero/"+personero.est_foto alt="Foto personero")
							div(class="card-body")
								h5(class="card-title")= personero.est_primer_nombre + " " + personero.est_segundo_nombre + " " + personero.est_primer_apellido + " " + personero.est_segundo_apellido
								p(class="card-text")= personero.est_grado + " " + personero.est_grupo

				div(class="tarjeton")
					div(class="votarPersonero")
						form(action="/finalProcesoVotacion" method="POST")
							input(type="submit" value="0" name="personero"  class="btnVotarPersonero")
					div(class="card" style="width: 12rem;")
						img(class="card-img-top imagenCard" src="static/imagenes/candidatos/voto blanco.jpg" alt="Card image cap")
						div(class="card-body")
							h5(class="card-title") VOTO EN BLANCO
							p(p class="card-text") Vota por mí	
			