extends ./layoutSedes.pug

block contenido
	div(class="container justify-content-center")
		div(class="col-sm-12")
			h3= "Reporte de votación sede " + nom_sede
			div(class="separar")
			div(class="row")
				div(class="col-sm-8")
					h5 Resultado de votaciones por personero
					table(class="table table-hover table-striped table-bordered table-condensed table-responsive" style="width: 100%")
						thead(class="thead-light")
							tr(class="centrar")
								th(class="th-candidato") Sede
								th(class="th-candidato") Nombre
								th(class="th-candidato") Grupo
								th(class="th-candidato") No. Personero
								th(class="th-candidato") Cantidad de votos
						tbody
							for reporte_personero in reporte_personeros
								if reporte_personero._id.sede == nom_sede
									tr
										td(class="td-personero centrar")= reporte_personero._id.sede
										td(class="td-personero")= reporte_personero._id.nombre_personero
										td(class="td-personero centrar")= reporte_personero._id.grupo
										td(class="td-personero centrar")= reporte_personero._id.personero
										td(class="td-personero centrar")= reporte_personero.cantidad

					h5 Total de votos por personero
					table(class="table table-hover table-striped table-bordered table-condensed table-responsive" style="width: 100%")
						thead(class="thead-blue")
							tr(class="centrar")
								th(class="th-candidato") Nombre personero
								th(class="th-candidato") Número de Tarjetón
								th(class="th-candidato") Total de votos
						tbody
							- var i = 0
							while i < 3
								tr
									td(class="td-personero")= reporte_personeros[i+1]._id.nombre_personero
									td(class="td-personero centrar")= i
									td(class="td-personero centrar")= total_votos_personeros[i]
								- i++

			div(class="separar")
			div(class="row")
				div(class="col-sm-12")
					h5 Resultado de votaciones por representante
					table(class="table table-hover table-striped table-condensed table-responsive" style="width: 100%")
						thead(class="thead-light")
							tr(class="centrar")
								th(class="th-candidato") Sede
								th(class="th-candidato") Nombre
								th(class="th-candidato") Grupo
								th(class="th-candidato") No. Representante
								th(class="th-candidato") Cantidad de votos
						tbody
							for reporte_representante in reporte_representantes
								if reporte_representante._id.representante != -1
									if reporte_representante._id.sede == nom_sede
										tr
											td(class="td-personero centrar")= reporte_representante._id.sede
											td(class="td-personero")= reporte_representante._id.nombre_representante
											td(class="td-personero centrar")= reporte_representante._id.grupo
											td(class="td-personero centrar")= reporte_representante._id.representante
											td(class="td-personero centrar")= reporte_representante.cantidad
