extends ./layoutSedes.pug

block contenido
	div(class='container' data-spy="scroll")
		h3= "Representante: " + num_grado_estudiante + " " + num_grupo
		div(class="row")
			for representante in representantes
				div(class="tarjeton")
					div(class="votarPersonero")
						form(action="/finalProcesoVotacion" method="POST")
							input(type="submit" value=representante.est_num_tarjeton name="representante" class="btnVotarPersonero")
					div(class="card" style="width: 12rem;")
						- var ruta = "static/imagenes/candidatos/representante/" + num_grado_estudiante + "/" + representante.est_foto
						if num_grado_estudiante == "SEXTO"
							- ruta = "static/imagenes/candidatos/representante/" + num_grado_estudiante + "/" + num_grupo + "/" + representante.est_foto
						if num_grado_estudiante == "OCTAVO"
							- ruta = "static/imagenes/candidatos/representante/" + num_grado_estudiante + "/" + num_grupo + "/" + representante.est_foto
						img(class="card-img-top imagenCard" src=ruta alt="Foto representante")
						div(class="card-body")
							h5(class="card-title")= representante.est_primer_nombre + " " + representante.est_primer_apellido + " " +representante.est_segundo_apellido
							p(p class="card-text")= num_grado_estudiante + " " + num_grupo
										
			div(class="tarjeton")
				div(class="votarPersonero")
					form(action="/finalProcesoVotacion" method="POST")
						input(type="submit" value="0" name="representante" class="btnVotarPersonero")
				div(class="card" style="width: 12rem;")
					img(class="card-img-top imagenCard" src="static/imagenes/candidatos/voto blanco.jpg" alt="voto en blanco")
					div(class="card-body")
						h5(class="card-title") VOTO EN BLANCO
						p(p class="card-text") Vota por mí	
