extends ./layout.pug

block contenido
	div(class='container' data-spy="scroll")
		ul(class="nav nav-tabs justify-content-center")
			li(class="nav-item")
				a(class="nav-link" href="/") Inicio
		h3 Lista de estudiantes Mateo Rico
		a(class="nav-link" href="/sedeMateoRico") << Volver
		div(class='row')
			div(class='col-sm-12')
				table(class='table table-hover table-striped table-bordered table-condensed table-responsive' style='width: 100%')
					thead(class='thead-light')
						tr(class="centrar")
							th No.
							th Tipo
							th Documento de identidad
							th Primer apellido
							th Segundo apellido
							th Primer nombre
							th Segundo nombre
							th Grado
							th Grupo
							th Matricula contratada
							th Fuente recursos
					tbody
						- var i = 1
						for estudiante in estudiantes
							tr
								td(class="centrar")= i
								td(class="centrar")= estudiante.est_tipo_identificacion
								td(class="centrar")
									form(action="/personero" method="POST")
										input(type="submit" value=estudiante.est_doc name="votar" class="btn btn-info btn-votar")
								td= estudiante.est_primer_apellido
								td= estudiante.est_segundo_apellido
								td= estudiante.est_primer_nombre
								td= estudiante.est_segundo_nombre
								td= estudiante.est_grado
								td(class="centrar")= estudiante.est_grupo
								td(class="centrar")= estudiante.est_matricula_contratada
								td(class="centrar")= estudiante.est_fuente_recursos
							- i = i + 1