extends ./layoutSedes.pug

block contenido
	div(class='container' data-spy="scroll")
		h3 Lista de estudiantes I. E. Cascajal
		a(class="nav-link" href="/sedeIECascajal") << Volver
		div(class='row')
			div(class='col-sm-12')
				table(class='table table-hover table-striped table-bordered table-condensed table-responsive' style='width: 100%')
					thead(class='thead-light')
						tr(class="centrar")
							th No.
							th Tipo
							th Documento de identidad
							th Primer apellido
							th Segundo apellido
							th Primer nombre
							th Segundo nombre
							th Grado
							th Grupo
							th Matrícula contratada
							th Fuente recursos
					tbody
						- var i = 1
						for estudiante in estudiantes
							if registros_a_bloquear[i-1] == 0
								tr
									td(class="centrar")= i
									td(class="centrar")= estudiante.est_tipo_identificacion
									td(class="centrar")
										form(action="/personero" method="POST")
											input(type="submit" value=estudiante.est_doc name="documentoIdentidadEstudiante" class="btn btn-success btn-votar")
									td= estudiante.est_primer_apellido
									td= estudiante.est_segundo_apellido
									td= estudiante.est_primer_nombre
									td= estudiante.est_segundo_nombre 
									td= estudiante.est_grado
									td(class="centrar")= estudiante.est_grupo
									td(class="centrar")= estudiante.est_matricula_contratada
									td(class="centrar")= estudiante.est_fuente_recursos
							else
								tr
									td(class="centrar yavoto")= i
									td(class="centrar yavoto")= estudiante.est_tipo_identificacion
									td(class="centrar yavoto")
										form(action="/personero" method="POST")
											input(type="submit" value=estudiante.est_doc name="documentoIdentidadEstudiante" class="btn btn-success btn-votar" disabled)
									td(class="yavoto")= estudiante.est_primer_apellido
									td(class="yavoto")= estudiante.est_segundo_apellido
									td(class="yavoto")= estudiante.est_primer_nombre
									td(class="yavoto")= estudiante.est_segundo_nombre 
									td(class="yavoto")= estudiante.est_grado
									td(class="centrar yavoto")= estudiante.est_grupo
									td(class="centrar yavoto")= estudiante.est_matricula_contratada
									td(class="centrar yavoto")= estudiante.est_fuente_recursos
							- i = i + 1
